body {
  background-color: rgb(218, 236, 183);
  color: rgb(66, 6, 114);
  font-size: 24px;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.recepies {
  list-style-type: none;
  font-size: 30px
}

img {
  height: auto;
  width: 400px;
  float: right;
  margin-left: 40px;
}

h2 {
  font-size: 36px;
}

.main-sections {
  list-style-type: none;
  font-weight: bold;
}